* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  color: #393b72;
}
.logo {
  width: 25%;
  padding: 10px;
  align-items: center;
}

.business-name {
  font-size: 3rem;
}

.business-details {
  font-size: 1.5rem;
}
